<mat-card>
  <form (submit)="onSignup()" [formGroup]="signupForm">
    <div class="user-info">
      <mat-form-field>
        <input
          matInput
          required
          formControlName="email"
          type="email"
          name="email"
          email
          placeholder="E-Mail"
          #emailInput
        />
        <mat-error *ngIf="!emailInput.valid">
          Please enter a valid Email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          required
          formControlName="username"
          type="text"
          name="username"
          placeholder="Username"
          #usernameInput
        />
        <mat-error *ngIf="!usernameInput.valid">
          Please enter a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          required
          formControlName="password"
          type="password"
          name="password"
          placeholder="Password"
          #passwordInput
        />
        <mat-error *ngIf="!passwordInput.valid">
          Password should be 5 - 20 characters long and should contain one
          number, one uppercase letter and one lowercase letter.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="address-info">
      <h3>Address</h3>
      <div class="user-address">
        <mat-form-field>
          <input
            matInput
            required
            formControlName="country"
            type="text"
            name="country"
            placeholder="Country"
            #countryInput
          />
          <mat-error *ngIf="!countryInput.valid">
            Please enter a valid country
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="city"
            type="text"
            name="city"
            placeholder="City"
            #cityInput
          />
          <mat-error *ngIf="!cityInput.valid">
            Please enter a valid city
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            type="text"
            formControlName="address"
            name="address"
            placeholder="Address"
            #addressInput
          />
          <mat-error *ngIf="!addressInput.valid">
            Please enter a valid address
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-button type="submit" class="register-button">
      Create User
    </button>
  </form>
</mat-card>
