<mat-toolbar>
  <span><img src="assets/logo.png" /></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a
        mat-button
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link"
        >Home</a
      >
    </li>
    <li>
      <a
        mat-button
        [routerLink]="['/my-products']"
        routerLinkActive="active-link"
        *ngIf="userIsAuthenticated"
        [routerLinkActiveOptions]="{ exact: true }"
        >My Products</a
      >
    </li>
    <li>
      <a
        mat-button
        [routerLink]="['/']"
        routerLinkActive="active-link-notimplemented"
        *ngIf="userIsAuthenticated"
        [routerLinkActiveOptions]="{ exact: true }"
        >My Profile</a
      >
    </li>

    <li>
      <a
        mat-button
        [routerLink]="['/']"
        routerLinkActive="active-link-notimplemented"
        *ngIf="!userIsAuthenticated"
        [routerLinkActiveOptions]="{ exact: true }"
        >Log In</a
      >
    </li>
    <li>
      <a
        mat-button
        [routerLink]="['/register']"
        routerLinkActive="active-link-notimplemented"
        *ngIf="!userIsAuthenticated"
        [routerLinkActiveOptions]="{ exact: true }"
        >Sign Up</a
      >
    </li>
    <li>
      <a
        class="signout"
        mat-button
        [routerLink]="['/']"
        routerLinkActive="active-link-notimplemented"
        *ngIf="userIsAuthenticated"
        [routerLinkActiveOptions]="{ exact: true }"
        >Sign Out</a
      >
    </li>
  </ul>
</mat-toolbar>
