mat-card-content {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-card-actions {
  padding: 15px;
  margin-left: 355px;

  .offer {
    background-color: rgb(29, 202, 29);
    color: white;
    border-radius: 25px;
    text-align: center;
    width: 80px;
  }
  .edit {
    background-color: rgb(4, 160, 207);
    color: white;
    border-radius: 25px;
    text-align: center;
    width: 80px;
  }
}

.preview-container {
  display: flex;
  height: auto;
  padding: 10px;
}

.images {
  width: 300px;
  height: 170px;
}

.preview-left {
  flex: 2;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.preview-details {
  margin-left: 20px;
  width: 400px;
}

.preview-right {
  flex: 1;
}

.hide-carousel {
  display: none;
}
.mat-expansion-panel {
  box-shadow: 0 0 BLACK;
}
mat-expansion-panel-header {
  padding: 0 8px;
  width: 80px;
}

