<mat-card>
  <mat-card-content>
    <div class="preview-container">
      <div class="preview-left">
        <div class="images">
          <app-image-carousel [images]="product.images"></app-image-carousel>
          <hr />
          <i>Condition: {{ product.condition }}</i>
        </div>
        <span>
          <div class="preview-details">
            <h1>{{ product.title }}</h1>
            <p>{{ product.description | ellipsis: 200 }}</p>
          </div>
        </span>
      </div>
      <div class="preview-right">
        <div class="user-details">
          <h4>{{ product.owner }}</h4>
          <div class="user-rating">
            <p>User rating</p>
            <div>
              <star-rating
                [value]="product.rating"
                [totalstars]="5"
                checkedcolor="gold"
                uncheckedcolor="grey"
                size="16px"
                readonly="false"
              ></star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions>
      <a mat-button class="view-more" [routerLink]="['/view', product.id]">
        View More
      </a>

      <a
        [routerLink]="['/view', product.id, 'edit']"
        mat-button
        class="edit"
        *ngIf="userLoggedIn && viewingMyProducts"
      >
        Edit
      </a>
      <a
        mat-button
        class="delete"
        *ngIf="userLoggedIn && viewingMyProducts"
        (click)="deleteProduct()"
      >
        Delete
      </a>

      <mat-accordion *ngIf="userLoggedIn ">
        <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
            <button
              mat-button
              class="offer"
              *ngIf="userLoggedIn && product.owner.id !== userId"
            >
              Offer
            </button></mat-expansion-panel-header
          >
          <app-offer></app-offer>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
