<mat-card>
  <mat-card-content>
    <div class="preview-container">
      <div class="preview-left">
        <div class="images">
          <app-image-carousel [images]="product.images"></app-image-carousel>
        </div>
        <span>
          <div class="preview-details">
            <p>{{ product.title }}</p>
            <p>{{ product.description | ellipsis: 200 }}</p>
          </div>
        </span>
      </div>
      <div class="preview-right">
        <div class="user-details">
          <p>{{ product.user }}</p>
          <div class="user-rating">
            <p>User rating</p>
            <p>{{ product.rating }}</p>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button class="view-more">View More</button>

      <button mat-button class="edit" *ngIf="userLoggedIn && viewingMyProducts">
        Edit
      </button>

      <mat-accordion *ngIf="userLoggedIn && product.user !== 'Gilb1'">
        <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
            <button
              mat-button
              class="offer"
              *ngIf="userLoggedIn && product.user !== 'Gilb1'"
              (click)="openOfferModal()"
            >
              Offer
            </button></mat-expansion-panel-header
          >
          <app-offer></app-offer>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
