<mat-card>
  <mat-card-content>
    <div class="preview-container">
      <div class="preview-left">
        <div class="images">
          <app-image-carousel></app-image-carousel>
        </div>
        <span>
          <div class="preview-details">
            <p>{{ product.title }}</p>
            <p>{{ product.description }}</p>
          </div>
        </span>
      </div>
      <div class="preview-right">
        <div class="user-details">
          <p>{{ product.user }}</p>
          <div class="user-rating">
            <p>User rating</p>
            <p>{{ product.rating }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
