<!-- Search bar -->
<div class="search-input" *ngIf="!inMyProducts">
  <mat-icon class="search-icon">search_outline</mat-icon>
  <form>
    <input placeholder="Search by tag. E.g. guitar, amp, fender" type="text" />
  </form>
</div>

<!-- 'Add new' button - shows only on my products page -->
<div class="add-new" *ngIf="inMyProducts">
  <button mat-button class="add-new-button" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>Add Product
  </button>
</div>

<!-- Product preview component (hides on modal open event) -->
<div [ngClass]="modalOpen ? 'hide-preview' : ''">
  <app-product-preview
    (modalOpen)="changeModalStatus($event)"
    *ngFor="let product of products"
    [product]="product"
  ></app-product-preview>

  <!-- Pagination -->
  <mat-paginator
    [length]="totalProducts"
    [pageSize]="pageSizeOptions[0]"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="products.length > 0"
    [pageIndex]="currentPage - 1"
  ></mat-paginator>

  <!-- No results message -->
  <mat-card *ngIf="products.length === 0">
    <mat-card-content>
      <p>No products found</p>
    </mat-card-content>
  </mat-card>
</div>
