<div class="search-input" *ngIf="!inMyProducts">
  <mat-icon class="search-icon">search_outline</mat-icon>
  <form>
    <input placeholder="Search by tag. E.g. guitar, amp, fender" type="text" />
  </form>
</div>
<div class="add-new" *ngIf="inMyProducts">
  <button mat-button class="add-new-button" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>Add Product
  </button>
</div>
<div [ngClass]="modalOpen ? 'hide-preview' : ''">
  <app-product-preview
    (modalOpen)="changeModalStatus($event)"
    *ngFor="let product of products"
    [product]="product"
    [offers]=""
  ></app-product-preview>
  <mat-card *ngIf="products.length === 0">
    <mat-card-content>
      <p>No products found</p>
    </mat-card-content>
  </mat-card>
</div>
