.search-input {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  position: relative;
  width: fit-content;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
input {
  outline: none;
  border: 1px solid lightgray;
  background-color: #f0f2f5;
  padding: 10px 20px;
  border-radius: 20px;
  width: 30vw;

  &::placeholder {
    font-size: 15px;
  }
}
.add-new {
  display: flex;
  justify-content: flex-end;
  margin: 15px 15px 0;
}
.add-new-button {
  display: flex;
  align-items: center;
  background-color: rgb(29, 202, 29);
  color: white;
  border-radius: 25px;
  text-align: center;
  width: fit-content;
}
