<div class="product-container">
  <div class="product-info-left">
    <div class="images">
      <app-image-carousel [images]="product.images"></app-image-carousel>
    </div>
    <span class="details">
      <div class="product-info-details">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <hr />
        <p>Condition: {{ product.condition }}</p>
      </div>
      <div class="user-details">
        <h4>{{ product.owner }}</h4>
        <div class="user-rating">
          <p>User rating</p>
          <div>
            <star-rating
              [value]="product.rating"
              [totalstars]="5"
              checkedcolor="gold"
              uncheckedcolor="grey"
              size="16px"
              readonly="false"
            ></star-rating>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
<hr />
<div class="offer-section">
  <h1>Offer one of your products:</h1>
  <app-offer></app-offer>
</div>
